.navbar {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    height: 70px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-btn {
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-size: 22px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.nav-btn:hover,
.nav-btn:focus {
    color: #f26624;
    border-color: #f26624;
}

.nav-btn.active {
    color: #599bf0;
    border-color: #5a65e0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}

.hamburger {
    display: none;
    font-size: 26px;
    color: #f26624;
    cursor: pointer;
}

.mobile-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
    width: 100%;
    border-top: 1px solid #444;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .hamburger {
        display: block;
    }
}
